openapi: 3.0.0
info:
  title: INCAS TA2-UIUC Datatypes
  description: This API document is defined based on INCAS Common Datatypes version
    0.0.6.
  contact:
    name: Shengzhong Liu (sl29@illinois.edu)
  version: 1.1.0
servers:
- url: https://incas.cs.illinois.edu:8443/api/v1
  description: UIUC INCAS API Server
security:
- ApiKeyAuth: []
paths:
  /message:
    post:
      tags:
      - admin
      description: Add messages.
      operationId: admin_message_post
      requestBody:
        description: Array of messages
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UiucMessage'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.admin_controller
  /actor:
    post:
      tags:
      - admin
      description: Add actors.
      operationId: admin_actor_post
      requestBody:
        description: Array of actors
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UiucActor'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.admin_controller
  /message/count:
    get:
      tags:
      - message
      description: Return the number of message IDs available.
      operationId: message_count_get
      parameters:
      - name: mediaType
        in: query
        description: Type of entity to retrieve
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - MEDIA_UNSPECIFIED
          - News
          - Reddit
          - Twitter
          - Webpage
      responses:
        "200":
          description: Requested list
          content:
            text/plain:
              schema:
                type: integer
                description: The number of messages available
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
  /message/list:
    get:
      tags:
      - message
      description: "Return list of message IDs available in [begin, end)."
      operationId: message_list_get
      parameters:
      - name: begin
        in: query
        description: Begin
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: end
        in: query
        description: End
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: mediaType
        in: query
        description: Type of entity to retrieve
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - MEDIA_UNSPECIFIED
          - News
          - Reddit
          - Twitter
          - Webpage
      responses:
        "200":
          description: Requested list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessageIdResponse'
                x-content-type: application/json
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
  /message/enrichments/meta:
    get:
      tags:
      - message
      description: "Returns current message enrichment metas by providerName, enrichmentName\
        \ and version."
      operationId: message_enrichments_meta_get
      parameters:
      - name: enrichmentName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: providerName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A list of message enrichment meta
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessageEnrichmentMeta'
                x-content-type: application/json
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
    put:
      tags:
      - message
      description: "Updates message enrichment meta (after all messages have been\
        \ added) by providerName, enrichmentName and version."
      operationId: message_enrichments_meta_put
      requestBody:
        description: The new enrichment meta to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseMessageEnrichmentMeta'
        required: true
      responses:
        "200":
          description: Updated
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
    post:
      tags:
      - message
      description: Submits a message enrichment meta (post after all messages have
        been added).
      operationId: message_enrichments_meta_post
      requestBody:
        description: The new enrichment meta to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseMessageEnrichmentMeta'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
    delete:
      tags:
      - message
      description: "Delete specific message enrichment meta by providerName, enrichmentName\
        \ and version."
      operationId: message_enrichments_meta_delete
      parameters:
      - name: enrichmentName
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: providerName
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
  /message/enrichments/batchGet:
    post:
      tags:
      - message
      description: Returns a batch of enrichments given a list of IDs and specifications.
      operationId: message_enrichments_batch_get
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageEnrichmentsBatchGetBody'
        required: true
      responses:
        "200":
          description: A batch of list of enrichments
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/MessageEnrichment'
                x-content-type: application/json
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
  /message/enrichments/batchDelete/validate:
    post:
      tags:
      - message
      description: "Validation endpoint for batch enrichment deletion, successful\
        \ attempt will return a token."
      operationId: message_enrichments_batch_delete_validate
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageEnrichmentsBatchDeleteBody'
        required: true
      responses:
        "200":
          description: Examined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageEnrichmentsBatchDeleteValidationResponse'
        "400":
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
  /message/enrichments/batchDelete:
    post:
      tags:
      - message
      description: Deletes a batch of enrichments given a list of IDs and specifications.
      operationId: message_enrichments_batch_delete
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageEnrichmentsBatchDeleteBody'
        required: true
      responses:
        "204":
          description: Deleted
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: id not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
  /message/enrichments/batch/validate:
    put:
      tags:
      - message
      description: "Validation endpoint for batch enrichment update, successful attempt\
        \ will return a token."
      operationId: message_enrichments_batch_put_validate
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/BaseMessageEnrichment'
        required: true
      responses:
        "200":
          description: Examined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageEnrichmentsBatchValidationResponse'
        "400":
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
    post:
      tags:
      - message
      description: "Validation endpoint for batch enrichment creation, successful\
        \ attempt will return a token."
      operationId: message_enrichments_batch_post_validate
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/BaseMessageEnrichment'
        required: true
      responses:
        "200":
          description: Examined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageEnrichmentsBatchValidationResponse'
        "400":
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
  /message/enrichments/batch:
    put:
      tags:
      - message
      description: Updates a enrichment for each message ID.
      operationId: message_enrichments_batch_put
      requestBody:
        description: Map of IDs and enrichments
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/BaseMessageEnrichment'
        required: true
      responses:
        "200":
          description: Updated
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
    post:
      tags:
      - message
      description: Submits a enrichment for each message ID.
      operationId: message_enrichments_batch_post
      requestBody:
        description: Map of IDs and enrichments
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/BaseMessageEnrichment'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
  /message/{id}:
    get:
      tags:
      - message
      description: Returns specific message by id.
      operationId: message_id_get
      parameters:
      - name: id
        in: path
        description: Message ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: withEnrichment
        in: query
        description: Whether to retrieve enrichments
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: enrichmentName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: providerName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dev
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Requested message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UiucMessage'
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
  /message/{id}/enrichments:
    get:
      tags:
      - message
      description: "Returns all visible matched enrichment for the specific message\
        \ by type, providerName and version."
      operationId: message_id_enrichments_get
      parameters:
      - name: id
        in: path
        description: Message ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: enrichmentName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: providerName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dev
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: A list of message enrichments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessageEnrichment'
                x-content-type: application/json
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
    put:
      tags:
      - message
      description: "Update a enrichment for specific message by type, providerName\
        \ and version."
      operationId: message_id_enrichments_put
      parameters:
      - name: id
        in: path
        description: Message ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new enrichments to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseMessageEnrichment'
        required: true
      responses:
        "200":
          description: Updated
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
    post:
      tags:
      - message
      description: Submits a new enrichment for specific message.
      operationId: message_id_enrichments_post
      parameters:
      - name: id
        in: path
        description: Message ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new enrichment to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseMessageEnrichment'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
    delete:
      tags:
      - message
      description: "Delete a enrichment for specific message by type, providerName\
        \ and version."
      operationId: message_id_enrichments_delete
      parameters:
      - name: id
        in: path
        description: Message ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: enrichmentName
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: providerName
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: id not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
  /message/batchGet:
    post:
      tags:
      - message
      description: Returns a batch of messages given a list of IDs and specifications.
      operationId: message_batch_get
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageBatchGetBody'
        required: true
      responses:
        "200":
          description: A batch of messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UiucMessage'
                x-content-type: application/json
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.message_controller
  /segmentCollection/list:
    get:
      tags:
      - segment
      description: "Return list of available segment collection keys by collectionName,\
        \ providerName, and version."
      operationId: segment_collection_list_get
      parameters:
      - name: collectionName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: providerName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A list of segment collection keys
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                x-content-type: application/json
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.segment_controller
  /segmentCollection:
    post:
      tags:
      - segment
      description: Add a new segment collection.
      operationId: segment_collection_post
      requestBody:
        description: The new segment collection to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UiucSegmentCollectionMeta'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.segment_controller
  /segmentCollection/{id}:
    get:
      tags:
      - segment
      description: Gets a segment collection by id.
      operationId: segment_collection_id_get
      parameters:
      - name: id
        in: path
        description: Segment collection ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Requested segment collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UiucSegmentCollection'
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.segment_controller
    put:
      tags:
      - segment
      description: Update basic segment collection information by id.
      operationId: segment_collection_id_put
      parameters:
      - name: id
        in: path
        description: Segment collection ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The segment collection meta
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UiucSegmentCollectionMeta'
        required: true
      responses:
        "200":
          description: Updated
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.segment_controller
    delete:
      tags:
      - segment
      description: Deletes the segment collection by id.
      operationId: segment_collection_id_delete
      parameters:
      - name: id
        in: path
        description: Segment collection ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: id not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.segment_controller
  /actor/count:
    get:
      tags:
      - actor
      description: Return the number of actor IDs available.
      operationId: actor_count_get
      parameters:
      - name: mediaType
        in: query
        description: Type of entity to retrieve
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - MEDIA_UNSPECIFIED
          - News
          - Reddit
          - Twitter
          - Webpage
      - name: entityType
        in: query
        description: Type of entity to retrieve
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ENTITY_UNSPECIFIED
          - Person
          - Media
          - Organization
          - Government
      responses:
        "200":
          description: Requested list
          content:
            text/plain:
              schema:
                type: integer
                description: The number of actors available
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/list:
    get:
      tags:
      - actor
      description: "Return list of actor IDs available in [begin, end)."
      operationId: actor_list_get
      parameters:
      - name: begin
        in: query
        description: Begin
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: end
        in: query
        description: End
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: mediaType
        in: query
        description: Type of entity to retrieve
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - MEDIA_UNSPECIFIED
          - News
          - Reddit
          - Twitter
          - Webpage
      - name: entityType
        in: query
        description: Type of entity to retrieve
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ENTITY_UNSPECIFIED
          - Person
          - Media
          - Organization
          - Government
      responses:
        "200":
          description: Requested list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActorIdResponse'
                x-content-type: application/json
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/enrichments/meta:
    get:
      tags:
      - actor
      description: "Returns current actor enrichment metas by providerName, enrichmentName\
        \ and version."
      operationId: actor_enrichments_meta_get
      parameters:
      - name: enrichmentName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: providerName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A list of actor enrichment meta
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActorEnrichmentMeta'
                x-content-type: application/json
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    put:
      tags:
      - actor
      description: "Updates an actor enrichment meta (after all actors have been added)\
        \ by providerName, enrichmentName and version."
      operationId: actor_enrichments_meta_put
      requestBody:
        description: The new enrichment meta to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseActorEnrichmentMeta'
        required: true
      responses:
        "200":
          description: Updated
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    post:
      tags:
      - actor
      description: Submits an actor enrichment meta (post after all actors have been
        added).
      operationId: actor_enrichments_meta_post
      requestBody:
        description: The new enrichment meta to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseActorEnrichmentMeta'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    delete:
      tags:
      - actor
      description: "Delete a specific actor enrichment meta by providerName, enrichmentName\
        \ and version."
      operationId: actor_enrichments_meta_delete
      parameters:
      - name: enrichmentName
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: providerName
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: id not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/segments/batchGet:
    post:
      tags:
      - actor
      description: Returns a batch of segment collections given a list of IDs and
        specifications.
      operationId: actor_segments_batch_get
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorSegmentsBatchGetBody'
        required: true
      responses:
        "200":
          description: A batch of list of segment collections
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/ActorSegmentCollection'
                x-content-type: application/json
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/segments/batchDelete/validate:
    post:
      tags:
      - actor
      description: "Validation endpoint for batch segment deletion, successful attempt\
        \ will return a token."
      operationId: actor_segments_batch_delete_validate
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorSegmentsBatchDeleteBody'
        required: true
      responses:
        "200":
          description: Examined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorSegmentsBatchDeleteValidationResponse'
        "400":
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/segments/batchDelete:
    post:
      tags:
      - actor
      description: Deletes a batch of segment collections given a list of IDs and
        specifications.
      operationId: actor_segment_batch_delete
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorSegmentsBatchDeleteBody'
        required: true
      responses:
        "204":
          description: Deleted
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: id not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/segments/batch/validate:
    put:
      tags:
      - actor
      description: "Validation endpoint for batch segment update, successful attempt\
        \ will return a token."
      operationId: actor_segments_batch_put_validate
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/ActorSegmentCollection'
        required: true
      responses:
        "200":
          description: Examined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorSegmentsBatchValidationResponse'
        "400":
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    post:
      tags:
      - actor
      description: "Validation endpoint for batch segment creation, successful attempt\
        \ will return a token."
      operationId: actor_segments_batch_post_validate
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/ActorSegmentCollection'
        required: true
      responses:
        "200":
          description: Examined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorSegmentsBatchValidationResponse'
        "400":
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/segments/batch:
    put:
      tags:
      - actor
      description: Updates a segment collection for each actor ID.
      operationId: actor_segments_batch_put
      requestBody:
        description: Map of IDs and segment collections
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/ActorSegmentCollection'
        required: true
      responses:
        "200":
          description: Updated
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    post:
      tags:
      - actor
      description: Submits a segment collection for each actor ID.
      operationId: actor_segments_batch_post
      requestBody:
        description: Map of IDs and segment collections
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/ActorSegmentCollection'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/enrichments/batchGet:
    post:
      tags:
      - actor
      description: Returns a batch of enrichments given a list of IDs and specifications.
      operationId: actor_enrichments_batch_get
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorEnrichmentsBatchGetBody'
        required: true
      responses:
        "200":
          description: A batch of list of enrichments
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/ActorEnrichment'
                x-content-type: application/json
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/enrichments/batchDelete/validate:
    post:
      tags:
      - actor
      description: "Validation endpoint for batch enrichment deletion, successful\
        \ attempt will return a token."
      operationId: actor_enrichments_batch_delete_validate
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorEnrichmentsBatchDeleteBody'
        required: true
      responses:
        "200":
          description: Examined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorEnrichmentsBatchDeleteValidationResponse'
        "400":
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/enrichments/batchDelete:
    post:
      tags:
      - actor
      description: Deletes a batch of enrichments given a list of IDs and specifications.
      operationId: actor_enrichments_batch_delete
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorEnrichmentsBatchDeleteBody'
        required: true
      responses:
        "204":
          description: Deleted
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: id not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/enrichments/batch/validate:
    put:
      tags:
      - actor
      description: "Validation endpoint for batch enrichment update, successful attempt\
        \ will return a token."
      operationId: actor_enrichments_batch_put_validate
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/BaseActorEnrichment'
        required: true
      responses:
        "200":
          description: Examined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorEnrichmentsBatchValidationResponse'
        "400":
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    post:
      tags:
      - actor
      description: "Validation endpoint for batch enrichment creation, successful\
        \ attempt will return a token."
      operationId: actor_enrichments_batch_post_validate
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/BaseActorEnrichment'
        required: true
      responses:
        "200":
          description: Examined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorEnrichmentsBatchValidationResponse'
        "400":
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/enrichments/batch:
    put:
      tags:
      - actor
      description: Updates a enrichment for each actor ID.
      operationId: actor_enrichments_batch_put
      requestBody:
        description: Map of IDs and enrichments
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/BaseActorEnrichment'
        required: true
      responses:
        "200":
          description: Updated
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    post:
      tags:
      - actor
      description: Submits a enrichment for each actor ID.
      operationId: actor_enrichments_batch_post
      requestBody:
        description: Map of IDs and enrichments
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/BaseActorEnrichment'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/{id}:
    get:
      tags:
      - actor
      description: Returns specific actor by id.
      operationId: actor_id_get
      parameters:
      - name: id
        in: path
        description: Actor ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: withEnrichment
        in: query
        description: Whether to retrieve enrichments
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: withSegment
        in: query
        description: Whether to retrieve segments
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: enrichmentName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: enrichmentProviderName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: enrichmentVersion
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: collectionName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: collectionProviderName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: collectionVersion
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dev
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Requested actor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UiucActor'
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/{id}/segments:
    get:
      tags:
      - actor
      description: Returns all matched segment collections the actor belonged to by
        collectionName.
      operationId: actor_id_segments_get
      parameters:
      - name: id
        in: path
        description: Actor ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: collectionName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: providerName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dev
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Requested segment
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActorSegmentCollection'
                x-content-type: application/json
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    put:
      tags:
      - actor
      description: Update a segment collection for the specific actor by segment name
      operationId: actor_id_segments_put
      parameters:
      - name: id
        in: path
        description: Actor ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The segment collections to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorSegmentCollection'
        required: true
      responses:
        "200":
          description: Updated
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    post:
      tags:
      - actor
      description: Add a new segment collection for the specific actor
      operationId: actor_id_segments_post
      parameters:
      - name: id
        in: path
        description: Actor ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new segment collections to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorSegmentCollection'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    delete:
      tags:
      - actor
      description: Deletes all matched segments for specific actor by segmentCollectionName
      operationId: actor_id_segments_delete
      parameters:
      - name: id
        in: path
        description: Actor ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: collectionName
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: providerName
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: id not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/{id}/enrichments:
    get:
      tags:
      - actor
      description: "Returns all matched enrichment for the specific actor by type,\
        \ providerName and version."
      operationId: actor_id_enrichments_get
      parameters:
      - name: id
        in: path
        description: Actor ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: enrichmentName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: providerName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dev
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: A list of actor enrichments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActorEnrichment'
                x-content-type: application/json
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    put:
      tags:
      - actor
      description: "Update the enrichments for specific actor by type, providerName\
        \ and version."
      operationId: actor_id_enrichments_put
      parameters:
      - name: id
        in: path
        description: Actor ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new enrichments to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseActorEnrichment'
        required: true
      responses:
        "200":
          description: Updated
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    post:
      tags:
      - actor
      description: Submits a new enrichment for specific actor.
      operationId: actor_id_enrichments_post
      parameters:
      - name: id
        in: path
        description: Actor ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new enrichment to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseActorEnrichment'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
    delete:
      tags:
      - actor
      description: "Delete the enrichments for specific actor by type, providerName\
        \ and version"
      operationId: actor_id_enrichments_delete
      parameters:
      - name: id
        in: path
        description: Actor ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: enrichmentName
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: providerName
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: id not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /actor/batchGet:
    post:
      tags:
      - actor
      description: Returns a batch of actors given a list of IDs and specifications.
      operationId: actor_batch_get
      requestBody:
        description: List of IDs and specifications
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorBatchGetBody'
        required: true
      responses:
        "200":
          description: A batch of actors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UiucActor'
                x-content-type: application/json
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.actor_controller
  /messageMessageGraph/{id}:
    get:
      tags:
      - graph
      description: Gets specific message-message graph information by id.
      operationId: message_message_graph_id_get
      parameters:
      - name: id
        in: path
        description: Graph ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Requested graph
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageMessageGraph'
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
    put:
      tags:
      - graph
      description: Update the specific message-message graph by id.
      operationId: message_message_graph_id_put
      parameters:
      - name: id
        in: path
        description: Graph ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new graph to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageMessageGraph'
        required: true
      responses:
        "200":
          description: Updated
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
    delete:
      tags:
      - graph
      description: Delete the specific graph by id.
      operationId: message_message_graph_id_delete
      parameters:
      - name: id
        in: path
        description: Graph ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: id not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
  /messageMessageGraph/list:
    get:
      tags:
      - graph
      description: Gets graph IDs by providing query keys.
      operationId: message_message_graph_list_get
      parameters:
      - name: providerName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: graphName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: distanceName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: timeStamp
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Requested graph IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                x-content-type: application/json
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
  /messageMessageGraph:
    post:
      tags:
      - graph
      description: Submits a new graph.
      operationId: message_message_graph_post
      requestBody:
        description: The new graph to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageMessageGraph'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
  /messageMessageGraph/{id}/neighbor:
    get:
      tags:
      - graph
      description: Gets the neighbors for specific node from specific graph by graph
        id and message's id.
      operationId: message_message_graph_id_neighbor_get
      parameters:
      - name: id
        in: path
        description: Graph ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: messageId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Requested neighbors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GraphEdge'
                x-content-type: application/json
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
  /actorMessageGraph/{id}:
    get:
      tags:
      - graph
      description: Gets specific actor-message graph information by id.
      operationId: actor_message_graph_id_get
      parameters:
      - name: id
        in: path
        description: Graph ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Requested graph
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorMessageGraph'
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
    put:
      tags:
      - graph
      description: Update the specific actor-message graph by id.
      operationId: actor_message_graph_id_put
      parameters:
      - name: id
        in: path
        description: Graph ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new graph to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorMessageGraph'
        required: true
      responses:
        "200":
          description: Updated
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
    delete:
      tags:
      - graph
      description: Delete the specific graph by id.
      operationId: actor_message_graph_id_delete
      parameters:
      - name: id
        in: path
        description: Graph ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: id not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
  /actorMessageGraph/list:
    get:
      tags:
      - graph
      description: Gets graph IDs by providing query keys.
      operationId: actor_message_graph_list_get
      parameters:
      - name: providerName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: graphName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: distanceName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: timeStamp
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Requested graph IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                x-content-type: application/json
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
  /actorMessageGraph:
    post:
      tags:
      - graph
      description: Submits a new graph.
      operationId: actor_message_graph_post
      requestBody:
        description: The new graphs to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorMessageGraph'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
  /actorMessageGraph/{id}/neighbor:
    get:
      tags:
      - graph
      description: Gets the neighbors for specific node from specific graph by graph
        id and message or actor id.
      operationId: actor_message_graph_id_neighbor_get
      parameters:
      - name: id
        in: path
        description: Graph ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: messageId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: actorId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Requested neighbors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GraphEdge'
                x-content-type: application/json
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
  /actorActorGraph/{id}:
    get:
      tags:
      - graph
      description: Gets specific actor-actor graph information by id.
      operationId: actor_actor_graph_id_get
      parameters:
      - name: id
        in: path
        description: Graph ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Requested graph
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorActorGraph'
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
    put:
      tags:
      - graph
      description: Update the specific actor-actor graph by id.
      operationId: actor_actor_graph_id_put
      parameters:
      - name: id
        in: path
        description: Graph ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new graph to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorActorGraph'
        required: true
      responses:
        "200":
          description: Updated
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
    delete:
      tags:
      - graph
      description: Delete the specific graph by id.
      operationId: actor_actor_graph_id_delete
      parameters:
      - name: id
        in: path
        description: Graph ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: id not found
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
  /actorActorGraph/list:
    get:
      tags:
      - graph
      description: Gets graph IDs by providing query keys.
      operationId: actor_actor_graph_list_get
      parameters:
      - name: providerName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: graphName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: distanceName
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: timeStamp
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Requested graph IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                x-content-type: application/json
        "400":
          description: Invalid query
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
  /actorActorGraph:
    post:
      tags:
      - graph
      description: Submits a new graph.
      operationId: actor_actor_graph_post
      requestBody:
        description: The new graphs to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorActorGraph'
        required: true
      responses:
        "201":
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
        "401":
          description: API key is missing or invalid
          headers:
            WWW_Authenticate:
              style: simple
              explode: false
              schema:
                type: string
        "409":
          description: Input already exists
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-openapi-router-controller: uiuc_incas_server.controllers.graph_controller
  /actorActorGraph/{id}/neighbor:
    get:
      tags:
      - graph
      description: Gets the neighbors for specific node from specific graph by graph
        id and actor id.
      operationId: actor_actor_graph_id_neighbor_get
      parameters:
      - name: id
        in: path
        description: Graph ID
[...]
